<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test.many2many.StudentMapper">

    <resultMap id="stu_mapping" type="Student">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <insert id="add" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="Student">
        insert into student(name) values (#{name})
    </insert>

    <select id="get" resultMap="stu_mapping" parameterType="long">
        select id,name from student where id=#{id}
    </select>

    <select id="list" resultMap="stu_mapping">
        select id,name from student
    </select>


    <select id="getByTeacher" resultMap="stu_mapping" parameterType="long">
        select s.id,s.name from stu_tea st join student s on st.student_id = s.id where st.teacher_id=#{id}
    </select>


</mapper>
