<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test.many2many.StudentMapper">

    <resultMap id="stu_mapping" type="Student">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <insert id="add" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="Student">
        insert into student(name) values (#{name})
    </insert>

    <!--
    SELECT LAST_INSERT_ID()：得到刚 insert 进去记录的主键值，只适用与自增主键
    keyProperty：将查询到主键值设置到 parameterType 指定的对象的那个属性
    order：SELECT LAST_INSERT_ID() 执行顺序，相对于 insert 语句来说它的执行顺序
    resultType：指定 SELECTLAST_INSERT_ID() 的结果类型
-->
    <insert id="insertAndgetkey" parameterType="Student">
        <!--selectKey  会将 SELECT LAST_INSERT_ID()的结果放入到传入的model的主键里面，
            keyProperty 对应的model中的主键的属性名，这里是 user 中的id，因为它跟数据库的主键对应
            order AFTER 表示 SELECT LAST_INSERT_ID() 在insert执行之后执行,多用与自增主键，
                  BEFORE 表示 SELECT LAST_INSERT_ID() 在insert执行之前执行，这样的话就拿不到主键了，
                        这种适合那种主键不是自增的类型
            resultType 主键类型 -->
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into student(name) values (#{name})
    </insert>

    <select id="get" resultMap="stu_mapping" parameterType="long">
        select id,name from student where id=#{id}
    </select>

    <select id="list" resultMap="stu_mapping">
        select id,name from student
    </select>


    <select id="getByTeacher" resultMap="stu_mapping" parameterType="long">
        select s.id,s.name from stu_tea st join student s on st.student_id = s.id where st.teacher_id=#{id}
    </select>


</mapper>
