<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <properties resource="druid.properties"/>

    <settings>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
        <setting name="lazyLoadTriggerMethods" value="close"/>
    </settings>


    <typeAliases>
        <typeAlias type="test.domain.User" alias="User"/>
        <package name="test.domain"/>
    </typeAliases>

    <environments default="env1">
        <environment id="env1">
            <transactionManager type="JDBC"/>
            <dataSource type="test.druid.DruidDataSource">
                <property name="driverClassName" value="{driverClassName}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="test/domain/UserMapper.xml"/>
    </mappers>
</configuration>